<ion-header no-border>
<ion-card>
<ion-card-header>
<h1 style="font-size:2.5rem;">Journal</h1>
</ion-card-header>
<hr style="background:rgb(151, 175, 255)">
</ion-card>
</ion-header>


<ion-content color="tra" style="padding:0;margin:0;">

<ion-card>

<ion-card>
<ion-list>
 <ion-item style="margin:auto;padding:10px" color="tra">
    <ion-note slot="end">
    <ion-icon color=secondary class="i1" name="walk"></ion-icon>
    </ion-note>
    <ion-card>
    <h6>12/3/1999 - Brisk Walk</h6>
<p>250 Cal | 2.17Km </p>
    </ion-card>


  </ion-item>

</ion-list>
</ion-card>

</ion-card>

</ion-content>
