<ion-card style="margin-top:10%">
<ion-card-header>
<h1 style="font-size:2.5rem;">Gyro Plus</h1>
</ion-card-header>
<hr style="background:rgb(151, 175, 255)">
<div *ngIf="!isStopped" style="width:80%;margin-left:10%;padding-left:20%;margin-top:15%">
<button class="b1" (click)="toggleIt()" >Start 🔥</button>
</div>
<div *ngIf="isStopped" style="width:80%;margin-left:10%;padding-left:20%;margin-top:15%">
<button class="b2" (click)="toggleIt()">Stop</button>
</div>
<ion-card *ngIf="!isStopped" style="margin-top:20%">
<ion-row text-center>
<ion-col>
<h3> --.-- Steps </h3>
</ion-col>
<ion-col>
<h3> --.-- Calories </h3>
</ion-col>
</ion-row>
</ion-card>

<ion-card *ngIf="isStopped" style="margin-top:20%">
<ion-row text-center>
<ion-col>
<h3> {{steps}} Steps </h3>
</ion-col>
<ion-col>
<h3> {{calories}} Calories </h3>
</ion-col>
</ion-row>
</ion-card>
    
</ion-card>