<ion-header no-border>
<ion-card>
<ion-card-header>
<h1 style="font-size:2.5rem;">Personal Info</h1>
</ion-card-header>
<hr style="background:rgb(151, 175, 255)">
</ion-card>
</ion-header>

<ion-content color="tra">
<ion-card style="margin-top:10%">
<ion-card-header>
<h1 style="font-size:2.5rem;"></h1>
</ion-card-header>
<hr style="background:rgb(151, 175, 255)">
</ion-card>
</ion-content>

<ion-footer no-border style="text-align:right;padding:10px">

<p> <ion-icon color="primary" name="logo-twitter"></ion-icon>
<ion-icon color="secondary" name="logo-github"></ion-icon> Made by r3tr0 </p>
</ion-footer>