// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
    font-family: 'Arimo';
    src: url('../src/assets/fonts/Arimo.woff2');//path to your font file
  }
  @font-face {
    font-family: 'Joe';
    src: url('../src/assets/fonts/j2.woff2');//path to your font file
  }
  
  * {
    font-family: 'Joe';
  }
  
